<div class="alert alert-warning"></i><strong>CFT Data Science With R Tutorials</strong><br>By: Seiya David 
 </div>

 <div class="alert alert-success"></i><strong>1.0 R dplyr package</strong>
 </div>
 Now that we have seen how to slice datasets using base R, we would now look at a very nice package called dplyr.<br>
dplyr is a package that can help query data sets much faster to derive insight. It has five data manipulation functions (also known as dplyr grammar of data manipulation). These are:
<ul>
<li>select()     - extracts columns from a dataset</li>
<li>mutate()     - builds new columns in the dataset</li>
<li> filter()    - extracts rows from a dataset</li>
<li> arrange()    - re-orders rows in a dataset</li>
<li>summarize()  - calculates summary statistics</li>

<li> %>%: the “pipe” operator is used to connect multiple verb actions together into a pipeline</li>

<li> group_by : for grouping summaries</li>
</ul>

 <div class="alert alert-success"></i><strong>1.1 logical operators</strong>
 </div>
 <ul>
<li>x < y, TRUE if x is less than y</li>
<li>x <= y, TRUE if x is less than or equal to y</li>
<li>x == y, TRUE if x equals y</li>
<li>x != y, TRUE if x does not equal y</li>
<li>x >= y, TRUE if x is greater than or equal to y</li>
<li>x > y, TRUE if x is greater than y</li>
<li>x %in% c(a, b, c), TRUE if x is in the vector c(a, b, c)</li>
<li> x %in% c(a, b, c), TRUE if x is in the vector c(a, b, c)</li>
 </ul>

<div class="alert alert-success"></i><strong>1.1 logical operators</strong>
 </div>
 <ul> 
<strong>boolean operators</strong>
<li> & (and), | (or), and ! (not)</li>
 </ul>

 <div class="alert alert-success"></i><strong>1.2 select()</strong>
 </div>
The select() function can be used to select fields/columns of a data frame.

<strong>dplyr</strong> also comes with a set of helper functions that can assist in selecting groups of variables inside the select() function.
<ul>
<li>starts_with("X"): every name that starts with "X"</li>
<li>ends_with("X"): every name that ends with "X"</li>
<li>contains("X"): every name that contains "X"</li>
<li>matches("X"): every name that matches "X", where "X" can be a regular expression</li>
<li>num_range("x", 1:5): the variables named x01, x02, x03, x04 and x05</li>
<li>one_of(x): every name that appears in x, which should be a character vector.</li>
</ul>

In [5]:
# Load the dplyr package
library(dplyr)

# import dataset required for this session
txtData <- read.table("D:/CFT DataScienceHub/makeOver50K.txt",sep = ",", 
                     header = F)

# insert column names to the imported table
colnames(txtData) <- c("Age","workclass","fnlwgt","education",
                       "education-num","marital-status",
                       "occupation","relationship",
                       "race","sex","capital-gain",
                       "capital-loss","hours-per-week",
                       "native-country","eaning")
head(txtData, 3)

  Age workclass         fnlwgt education  education-num marital-status
1 39   State-gov         77516  Bachelors 13             Never-married
2 50   Self-emp-not-inc  83311  Bachelors 13             Married-civ-spouse
3 38   Private          215646  HS-grad    9             Divorced
  occupation         relationship   race   sex   capital-gain capital-loss
1  Adm-clerical       Not-in-family  White  Male 2174         0
2  Exec-managerial    Husband        White  Male    0         0
3  Handlers-cleaners  Not-in-family  White  Male    0         0
  hours-per-week native-country eaning
1 40              United-States  <=50K
2 13              United-States  <=50K
3 40              United-States  <=50K

In [8]:
# Select sub column
age_race_sex <- select(txtData, c(Age, race, sex))

In [7]:
# To omit a field, use the code snippet below.
# To code indicates that we should include every column except Age, race and sex
head(select(txtData, -c(Age, race, sex)),4)

  workclass         fnlwgt education  education-num marital-status
1  State-gov         77516  Bachelors 13             Never-married
2  Self-emp-not-inc  83311  Bachelors 13             Married-civ-spouse
3  Private          215646  HS-grad    9             Divorced
4  Private          234721  11th       7             Married-civ-spouse
  occupation         relationship   capital-gain capital-loss hours-per-week
1  Adm-clerical       Not-in-family 2174         0            40
2  Exec-managerial    Husband          0         0            13
3  Handlers-cleaners  Not-in-family    0         0            40
4  Handlers-cleaners  Husband          0         0            40
  native-country eaning
1  United-States  <=50K
2  United-States  <=50K
3  United-States  <=50K
4  United-States  <=50K

In [11]:
# The select() function also allows a special syntax that allows you to specify variable names based
# on patterns
columns_ending_pattern <- select(txtData, ends_with("p"))
head(columns_ending_pattern)

  relationship
1  Not-in-family
2  Husband
3  Not-in-family
4  Husband
5  Wife
6  Wife

In [13]:
subset <- select(txtData, starts_with("c"))
head(subset)

  capital-gain capital-loss
1 2174         0
2    0         0
3    0         0
4    0         0
5    0         0
6    0         0

<div class="alert alert-success"></i><strong>1.3 mutate()</strong>
 </div>
Mutate function can be used to create a new field or column name/variable.
Mutate take two arguments, firstly the dataframe and the operation.

In [14]:
# Let's use this toy dataset for to make this concept clear
sample_data = data.frame(school = c("Goodwind","High_grade","High_grade","Windrush"),
                        senior_students_age = c(20, 23, 21, 22), 
                        junior_students_age = c(15,14, 12,NA))
sample_data

  school     senior_students_age junior_students_age
1 Goodwind   20                  15
2 High_grade 23                  14
3 High_grade 21                  12
4 Windrush   22                  NA

In [15]:
new_sample_data <- mutate(sample_data, age_difference = senior_students_age - junior_students_age)
new_sample_data

Warning message:
"package 'bindrcpp' was built under R version 3.5.1"

  school     senior_students_age junior_students_age age_difference
1 Goodwind   20                  15                   5
2 High_grade 23                  14                   9
3 High_grade 21                  12                   9
4 Windrush   22                  NA                  NA

<div class="alert alert-success"></i><strong>1.4 filter()</strong>
 </div>
The filter() function is used to extract subsets of rows from a data frame. This function is similar
to the existing subset() function in R but is quite a bit faster in my experience.

In [17]:
filter(sample_data, school == "Windrush")

  school   senior_students_age junior_students_age
1 Windrush 22                  NA

<div class="alert alert-danger"></i><i class="icon-attention-alt"></i>**Try it out!**<br>Return only records of people with Bachelors degree using filter.<br>

In [3]:
# import dataset required for this session
txtData <- read.table("D:/CFT DataScienceHub/makeOver50K.txt",sep = ",", 
                     header = F,strip.white = TRUE)

# insert column names to the imported table
colnames(txtData) <- c("Age","workclass","fnlwgt","education",
                       "education-num","marital-status",
                       "occupation","relationship",
                       "race","sex","capital-gain",
                       "capital-loss","hours-per-week",
                       "native-country","eaning")
head(txtData, 3)

  Age workclass        fnlwgt education education-num marital-status
1 39  State-gov         77516 Bachelors 13            Never-married
2 50  Self-emp-not-inc  83311 Bachelors 13            Married-civ-spouse
3 38  Private          215646 HS-grad    9            Divorced
  occupation        relationship  race  sex  capital-gain capital-loss
1 Adm-clerical      Not-in-family White Male 2174         0
2 Exec-managerial   Husband       White Male    0         0
3 Handlers-cleaners Not-in-family White Male    0         0
  hours-per-week native-country eaning
1 40             United-States  <=50K
2 13             United-States  <=50K
3 40             United-States  <=50K

In [6]:
filter(txtData, education == "Bachelors")

ERROR: Error in filter(txtData, education == "Bachelors"): object 'education' not found

<div class="alert alert-danger"></i><i class="icon-attention-alt"></i>**Try it out!**<br>Return only records of people with education-num greater than 13 using filter.<br>

In [5]:
head(filter(txtData, `education-num` > 13))

ERROR: Error in filter(txtData, `education-num` > 13): object 'education-num' not found

<div class="alert alert-danger"></i><i class="icon-attention-alt"></i>**Try it out!**<br>Return only records of people with education-num greater than or equal to 13 using filter.<br>

<div class="alert alert-danger"></i><i class="icon-attention-alt"></i>**Try it out!**<br>Return only records of people with education-num equal 9 or 13 using filter.<br>

In [24]:
filter(txtData, `education-num` == c(9,13))
filter(txtData, `education-num` == 9 | `education-num` == 13)

Warning message in `education-num` == c(9, 13):
"longer object length is not a multiple of shorter object length"

     Age workclass        fnlwgt education education-num marital-status
1    50  Self-emp-not-inc  83311 Bachelors 13            Married-civ-spouse
2    38  Private          215646 HS-grad    9            Divorced
3    42  Private          159449 Bachelors 13            Married-civ-spouse
4    30  State-gov        141297 Bachelors 13            Married-civ-spouse
5    25  Self-emp-not-inc 176756 HS-grad    9            Never-married
6    59  Private          109015 HS-grad    9            Divorced
7    56  Local-gov        216851 Bachelors 13            Married-civ-spouse
8    19  Private          168294 HS-grad    9            Never-married
9    39  Private          367260 HS-grad    9            Divorced
10   53  Self-emp-not-inc  88506 Bachelors 13            Married-civ-spouse
11   25  Private          289980 HS-grad    9            Never-married
12   57  Federal-gov      337895 Bachelors 13            Married-civ-spouse
13   53  Private          144361 HS-grad    9            Married-civ-spouse
14   50  Federal-gov      251585 Bachelors 13            Divorced
15   47  Self-emp-inc     109832 HS-grad    9            Divorced
16   41  Private          147372 HS-grad    9            Married-civ-spouse
17   48  Private          149640 HS-grad    9            Married-civ-spouse
18   31  Private          309974 Bachelors 13            Separated
19   18  Private          446839 HS-grad    9            Never-married
20   52  Private          276515 Bachelors 13            Married-civ-spouse
21   46  Private           51618 HS-grad    9            Married-civ-spouse
22   44  Private          343591 HS-grad    9            Divorced
23   49  Local-gov        268234 HS-grad    9            Married-civ-spouse
24   44  Private          198282 Bachelors 13            Married-civ-spouse
25   29  Private          103432 HS-grad    9            Never-married
26   31  Local-gov        189265 HS-grad    9            Never-married
27   56  Self-emp-not-inc 335605 HS-grad    9            Married-civ-spouse
28   36  Private          102864 HS-grad    9            Never-married
29   40  Private          118853 Bachelors 13            Married-civ-spouse
30   29  State-gov        267989 Bachelors 13            Married-civ-spouse
...  ... ...              ...    ...       ...           ...
7857 36  Private           66304 Bachelors 13            Married-civ-spouse
7858 47  Private          161950 HS-grad    9            Divorced
7859 20  ?                203992 HS-grad    9            Never-married
7860 41  Self-emp-not-inc 168098 Bachelors 13            Married-civ-spouse
7861 34  Private          213307 HS-grad    9            Never-married
7862 23  Private          190273 Bachelors 13            Never-married
7863 51  Private          101432 HS-grad    9            Married-civ-spouse
7864 53  Private          158993 HS-grad    9            Widowed
7865 36  Self-emp-not-inc 109133 Bachelors 13            Married-civ-spouse
7866 85  Private           98611 Bachelors 13            Married-civ-spouse
7867 62  Private          128092 HS-grad    9            Widowed
7868 24  Private          284317 Bachelors 13            Never-married
7869 48  Self-emp-inc     185041 HS-grad    9            Married-civ-spouse
7870 39  Self-emp-not-inc 193689 HS-grad    9            Never-married
7871 42  Self-emp-not-inc 217597 HS-grad    9            Divorced
7872 82  ?                403910 HS-grad    9            Never-married
7873 57  Private          153918 HS-grad    9            Married-civ-spouse
7874 50  Private          302372 Bachelors 13            Married-civ-spouse
7875 39  Private          107302 HS-grad    9            Married-civ-spouse
7876 25  Local-gov        514716 Bachelors 13            Never-married
7877 20  Private          270436 HS-grad    9            Never-married
7878 57  Local-gov        110417 HS-grad    9            Married-civ-spouse
7879 27  Private          177398 HS-grad    9            Never-married
7880 31  Private          292592 HS-grad    9            Married-civ-spouse
7881 30  ?                 33811 Bachelors 13            Never-married
7882 54  Private          337992 Bachelors 13            Married-civ-spouse
7883 45  State-gov        252208 HS-grad    9            Separated
7884 72  ?                129912 HS-grad    9            Married-civ-spouse
7885 58  Private          151910 HS-grad    9            Widowed
7886 52  Self-emp-inc     287927 HS-grad    9            Married-civ-spouse
     occupation        relationship  race               sex    capital-gain
1    Exec-managerial   Husband       White              Male       0
2    Handlers-cleaners Not-in-family White              Male       0
3    Exec-managerial   Husband       White              Male    5178
4    Prof-specialty    Husband       Asian-Pac-Islander Male       0
5    Farming-fishing   Own-child     White              Male       0
6    Tech-support      Unmarried     White              Female     0
7    Tech-support      Husband       White              Male       0
8    Craft-repair      Own-child     White              Male       0
9    Exec-managerial   Not-in-family White              Male       0
10   Prof-specialty    Husband       White              Male       0
11   Handlers-cleaners Not-in-family White              Male       0
12   Prof-specialty    Husband       Black              Male       0
13   Machine-op-inspct Husband       White              Male       0
14   Exec-managerial   Not-in-family White              Male       0
15   Exec-managerial   Not-in-family White              Male       0
16   Adm-clerical      Husband       White              Male       0
17   Transport-moving  Husband       White              Male       0
18   Sales             Own-child     Black              Female     0
19   Sales             Not-in-family White              Male       0
20   Other-service     Husband       White              Male       0
21   Other-service     Wife          White              Female     0
22   Craft-repair      Not-in-family White              Female 14344
23   Protective-serv   Husband       White              Male       0
24   Exec-managerial   Husband       White              Male   15024
25   Craft-repair      Not-in-family White              Male       0
26   Adm-clerical      Not-in-family White              Female     0
27   Other-service     Husband       White              Male       0
28   Machine-op-inspct Own-child     White              Female     0
29   Exec-managerial   Husband       White              Male       0
30   Prof-specialty    Husband       White              Male       0
...  ...               ...           ...                ...    ...
7857 Exec-managerial   Husband       White              Male       0
7858 Other-service     Unmarried     White              Female     0
7859 ?                 Own-child     White              Male       0
7860 Prof-specialty    Husband       White              Male       0
7861 Handlers-cleaners Unmarried     White              Female  7443
7862 Prof-specialty    Own-child     White              Male       0
7863 Craft-repair      Husband       White              Male       0
7864 Machine-op-inspct Unmarried     Black              Female     0
7865 Sales             Husband       White              Male       0
7866 Exec-managerial   Husband       White              Male       0
7867 Adm-clerical      Not-in-family White              Female     0
7868 Machine-op-inspct Not-in-family White              Female     0
7869 Craft-repair      Husband       White              Male    7298
7870 Exec-managerial   Not-in-family White              Male       0
7871 Sales             Own-child     White              Male       0
7872 ?                 Not-in-family White              Male       0
7873 Transport-moving  Husband       White              Male       0
7874 Prof-specialty    Husband       White              Male       0
7875 Prof-specialty    Husband       White              Male       0
7876 Adm-clerical      Own-child     Black              Female     0
7877 Machine-op-inspct Own-child     White              Male       0
7878 Craft-repair      Husband       White              Male   99999
7879 Other-service     Unmarried     White              Female     0
7880 Machine-op-inspct Wife          White              Female     0
7881 ?                 Not-in-family Asian-Pac-Islander Female     0
7882 Exec-managerial   Husband       Asian-Pac-Islander Male       0
7883 Adm-clerical      Own-child     White              Female     0
7884 ?                 Husband       White              Male       0
7885 Adm-clerical      Unmarried     White              Female     0
7886 Exec-managerial   Wife          White              Female 15024
     capital-loss hours-per-week native-country eaning
1       0         13             United-States  <=50K
2       0         40             United-States  <=50K
3       0         40             United-States  >50K
4       0         40             India          >50K
5       0         35             United-States  <=50K
6       0         40             United-States  <=50K
7       0         40             United-States  >50K
8       0         40             United-States  <=50K
9       0         80             United-States  <=50K
10      0         40             United-States  <=50K
11      0         35             United-States  <=50K
12      0         40             United-States  >50K
13      0         38             United-States  <=50K
14      0         55             United-States  >50K
15      0         60             United-States  <=50K
16      0         48             United-States  <=50K
17      0         40             United-States  <=50K
18      0         40             United-States  <=50K
19      0         30             United-States  <=50K
20      0         40             Cuba           <=50K
21      0         40             United-States  <=50K
22      0         40             United-States  >50K
23      0         40             United-States  >50K
24      0         60             United-States  >50K
25      0         40             United-States  <=50K
26      0         40             United-States  <=50K
27   1887         50             Canada         >50K
28      0         40             United-States  <=50K
29      0         60             United-States  <=50K
30      0         50             United-States  >50K
...  ...          ...            ...            ...
7857 0            55             United-States  >50K
7858 0            32             United-States  <=50K
7859 0            40             United-States  <=50K
7860 0            50             United-States  <=50K
7861 0            35             United-States  <=50K
7862 0            40             United-States  <=50K
7863 0            40             United-States  <=50K
7864 0            38             United-States  <=50K
7865 0            50             United-States  >50K
7866 0             3             Poland         <=50K
7867 0            32             United-States  <=50K
7868 0            32             United-States  <=50K
7869 0            50             United-States  >50K
7870 0            65             United-States  <=50K
7871 0            50             ?              <=50K
7872 0             3             United-States  <=50K
7873 0            40             United-States  <=50K
7874 0            40             United-States  <=50K
7875 0            45             ?              >50K
7876 0            40             United-States  <=50K
7877 0            40             United-States  <=50K
7878 0            40             United-States  >50K
7879 0            64             United-States  <=50K
7880 0            40             United-States  <=50K
7881 0            99             United-States  <=50K
7882 0            50             Japan          >50K
7883 0            40             United-States  <=50K
7884 0            25             United-States  <=50K
7885 0            40             United-States  <=50K
7886 0            40             United-States  >50K

<div class="alert alert-danger"></i><i class="icon-attention-alt"></i>**Try it out!**<br>Return only records of people with education-num equal 9 and sex as female using filter.<br>

In [26]:
filter(txtData, `education-num` == 9 & sex == "Female" & race == "Black")

    Age workclass    fnlwgt education education-num marital-status
1   54  Private      302146 HS-grad   9             Separated
2   31  Private      185814 HS-grad   9             Never-married
3   41  Private      130408 HS-grad   9             Divorced
4   24  Private      241951 HS-grad   9             Never-married
5   44  Private      290521 HS-grad   9             Widowed
6   19  Private      206399 HS-grad   9             Never-married
7   47  Local-gov    543162 HS-grad   9             Separated
8   34  ?            190027 HS-grad   9             Never-married
9   35  Private      229328 HS-grad   9             Married-civ-spouse
10  24  Private       82804 HS-grad   9             Never-married
11  48  Private       45612 HS-grad   9             Never-married
12  31  Private      295697 HS-grad   9             Separated
13  56  Private      156052 HS-grad   9             Widowed
14  23  Private      153044 HS-grad   9             Never-married
15  78  Private      182977 HS-grad   9             Widowed
16  23  ?            184699 HS-grad   9             Never-married
17  41  Private      349221 HS-grad   9             Never-married
18  23  Private      129042 HS-grad   9             Never-married
19  32  Private      206365 HS-grad   9             Never-married
20  34  Private      289984 HS-grad   9             Divorced
21  33  Private      178506 HS-grad   9             Divorced
22  25  Private      323545 HS-grad   9             Never-married
23  29  Private      419721 HS-grad   9             Never-married
24  24  Private      293579 HS-grad   9             Never-married
25  49  Private      171301 HS-grad   9             Married-civ-spouse
26  41  Private      102332 HS-grad   9             Divorced
27  19  Federal-gov  234151 HS-grad   9             Never-married
28  42  ?             51795 HS-grad   9             Divorced
29  56  Private      311249 HS-grad   9             Widowed
30  76  ?            211453 HS-grad   9             Widowed
... ... ...          ...    ...       ...           ...
540 37  Private      148143 HS-grad   9             Never-married
541 51  Private      182944 HS-grad   9             Widowed
542 34  ?            362787 HS-grad   9             Never-married
543 41  Local-gov    174491 HS-grad   9             Separated
544 35  Private      220943 HS-grad   9             Divorced
545 46  Private      169324 HS-grad   9             Separated
546 19  Private      178811 HS-grad   9             Never-married
547 28  ?            198393 HS-grad   9             Never-married
548 54  Local-gov    127943 HS-grad   9             Widowed
549 36  Private      139703 HS-grad   9             Never-married
550 27  Private      247978 HS-grad   9             Never-married
551 42  Private      191765 HS-grad   9             Divorced
552 29  ?            207032 HS-grad   9             Married-spouse-absent
553 36  Private      448337 HS-grad   9             Separated
554 61  Federal-gov  181081 HS-grad   9             Divorced
555 28  Private       90547 HS-grad   9             Married-civ-spouse
556 31  Private      190027 HS-grad   9             Never-married
557 24  Private      175586 HS-grad   9             Never-married
558 37  Private      232614 HS-grad   9             Divorced
559 29  Private      358124 HS-grad   9             Never-married
560 51  ?             43909 HS-grad   9             Divorced
561 42  State-gov    455553 HS-grad   9             Never-married
562 30  Never-worked 176673 HS-grad   9             Married-civ-spouse
563 32  Private      172415 HS-grad   9             Never-married
564 56  Private      135458 HS-grad   9             Divorced
565 31  Private      298995 HS-grad   9             Married-civ-spouse
566 61  Private      190682 HS-grad   9             Widowed
567 53  Private      158993 HS-grad   9             Widowed
568 33  Private       63079 HS-grad   9             Divorced
569 41  ?            202822 HS-grad   9             Separated
    occupation        relationship   race  sex    capital-gain capital-loss
1   Other-service     Unmarried      Black Female    0         0
2   Transport-moving  Unmarried      Black Female    0         0
3   Sales             Unmarried      Black Female    0         0
4   Handlers-cleaners Unmarried      Black Female    0         0
5   Exec-managerial   Unmarried      Black Female    0         0
6   Machine-op-inspct Own-child      Black Female    0         0
7   Adm-clerical      Unmarried      Black Female    0         0
8   ?                 Unmarried      Black Female    0         0
9   Machine-op-inspct Wife           Black Female    0         0
10  Handlers-cleaners Unmarried      Black Female    0         0
11  Adm-clerical      Unmarried      Black Female    0         0
12  Other-service     Unmarried      Black Female    0         0
13  Other-service     Unmarried      Black Female  594         0
14  Handlers-cleaners Unmarried      Black Female    0         0
15  Other-service     Not-in-family  Black Female 2964         0
16  ?                 Unmarried      Black Female    0         0
17  Craft-repair      Own-child      Black Female    0         0
18  Machine-op-inspct Unmarried      Black Female    0         0
19  Other-service     Not-in-family  Black Female    0         0
20  Priv-house-serv   Unmarried      Black Female    0         0
21  Adm-clerical      Not-in-family  Black Female    0         0
22  Tech-support      Not-in-family  Black Female    0         0
23  Other-service     Unmarried      Black Female    0         0
24  Sales             Own-child      Black Female    0         0
25  Machine-op-inspct Wife           Black Female    0         0
26  Sales             Unmarried      Black Female    0         0
27  Adm-clerical      Unmarried      Black Female    0         0
28  ?                 Unmarried      Black Female    0         0
29  Adm-clerical      Unmarried      Black Female    0         0
30  ?                 Not-in-family  Black Female    0         0
... ...               ...            ...   ...    ...          ...
540 Machine-op-inspct Unmarried      Black Female 0               0
541 Tech-support      Unmarried      Black Female 0               0
542 ?                 Unmarried      Black Female 0               0
543 Other-service     Unmarried      Black Female 0               0
544 Other-service     Unmarried      Black Female 0            1594
545 Other-service     Not-in-family  Black Female 0               0
546 Machine-op-inspct Own-child      Black Female 0               0
547 ?                 Not-in-family  Black Female 0               0
548 Other-service     Unmarried      Black Female 0               0
549 Adm-clerical      Not-in-family  Black Female 0               0
550 Other-service     Own-child      Black Female 0               0
551 Other-service     Other-relative Black Female 0               0
552 ?                 Unmarried      Black Female 0               0
553 Sales             Unmarried      Black Female 0               0
554 Adm-clerical      Own-child      Black Female 0               0
555 Other-service     Wife           Black Female 0               0
556 Other-service     Other-relative Black Female 0               0
557 Machine-op-inspct Unmarried      Black Female 0               0
558 Other-service     Unmarried      Black Female 0               0
559 Other-service     Other-relative Black Female 0               0
560 ?                 Unmarried      Black Female 0               0
561 Adm-clerical      Unmarried      Black Female 0               0
562 ?                 Wife           Black Female 0               0
563 Other-service     Unmarried      Black Female 0               0
564 Tech-support      Not-in-family  Black Female 0               0
565 Other-service     Wife           Black Female 0               0
566 Craft-repair      Not-in-family  Black Female 0            1669
567 Machine-op-inspct Unmarried      Black Female 0               0
568 Adm-clerical      Unmarried      Black Female 0               0
569 ?                 Not-in-family  Black Female 0               0
    hours-per-week native-country eaning
1   20             United-States  <=50K
2   30             United-States  <=50K
3   38             United-States  <=50K
4   40             United-States  <=50K
5   40             United-States  <=50K
6   40             United-States  <=50K
7   40             United-States  <=50K
8   40             United-States  <=50K
9   40             United-States  <=50K
10  40             United-States  <=50K
11  37             United-States  <=50K
12  40             United-States  <=50K
13  20             United-States  <=50K
14   7             United-States  <=50K
15  40             United-States  <=50K
16  40             United-States  <=50K
17  35             United-States  <=50K
18  40             United-States  <=50K
19  40             United-States  <=50K
20  30             United-States  <=50K
21  40             United-States  <=50K
22  40             United-States  <=50K
23  40             Japan          <=50K
24  20             United-States  <=50K
25  40             United-States  <=50K
26  40             United-States  <=50K
27  40             United-States  <=50K
28  32             United-States  <=50K
29  38             United-States  <=50K
30   2             United-States  <=50K
... ...            ...            ...
540 40             United-States  <=50K
541 40             United-States  <=50K
542 35             United-States  <=50K
543 40             United-States  <=50K
544 40             United-States  <=50K
545 45             Jamaica        <=50K
546 20             United-States  <=50K
547 40             United-States  <=50K
548 40             United-States  <=50K
549 40             United-States  <=50K
550 40             United-States  <=50K
551 35             United-States  <=50K
552 42             Haiti          <=50K
553 40             United-States  <=50K
554 20             United-States  <=50K
555 23             United-States  <=50K
556 40             ?              <=50K
557 40             United-States  <=50K
558 30             United-States  <=50K
559 52             United-States  <=50K
560 40             United-States  <=50K
561 40             United-States  <=50K
562 40             United-States  <=50K
563 40             United-States  <=50K
564 40             United-States  <=50K
565 35             United-States  <=50K
566 50             United-States  <=50K
567 38             United-States  <=50K
568 40             United-States  <=50K
569 32             United-States  <=50K

<div class="alert alert-success"></i><strong>1.5 arrange()</strong>
 </div>
The arrange() function takes two main arguments: the name of the dataframe, and the column(s) one wishes to re-order.
Note: Results returned are in acesending order.

In [27]:
sample_data

  school     senior_students_age junior_students_age
1 Goodwind   20                  15
2 High_grade 23                  14
3 High_grade 21                  12
4 Windrush   22                  NA

In [28]:
arrange(sample_data, senior_students_age)

  school     senior_students_age junior_students_age
1 Goodwind   20                  15
2 High_grade 21                  12
3 Windrush   22                  NA
4 High_grade 23                  14

In [29]:
arrange(sample_data, desc(senior_students_age))

  school     senior_students_age junior_students_age
1 High_grade 23                  14
2 Windrush   22                  NA
3 High_grade 21                  12
4 Goodwind   20                  15

dplyr provides several helpful aggregate functions
first(x) - The first element of vector x.
last(x) - The last element of vector x.
nth(x, n) - The nth element of vector x.
n() - The number of rows in the data.frame or group of observations that summarize() describes.
n_distinct(x) - The number of unique values in vector x.

In [30]:
# Generate summarizing statistics
summarize(sample_data, 
          number_records = n(), 
          distinct_school_count = n_distinct(school))

  number_records distinct_school_count
1 4              3

In [31]:
High_grade_Analysis <- filter(sample_data, school == "High_grade")

# Generate summarizing statistics
summarize(High_grade_Analysis, 
          number_records = n(), 
          senior_students_age_sum = sum(senior_students_age),
          senior_students_mean_age = mean(senior_students_age))

  number_records senior_students_age_sum senior_students_mean_age
1 2              44                      22

<div class="alert alert-danger"></i><i class="icon-attention-alt"></i>**Try it out!**<br>Run the code above but this time replace senior_students_age with junior_students_age.<br>

In [34]:
#Group_by()

txtData %>%
   group_by(workclass) %>%
   summarize(
     Age = mean(Age, na.rm = TRUE), 
     hrs_workedper_week = mean(`hours-per-week`, na.rm = TRUE)
   ) %>%
   arrange(Age, hrs_workedper_week)

  workclass        Age      hrs_workedper_week
1 Never-worked     20.57143 28.42857
2 Private          36.79759 40.26710
3 State-gov        39.43606 39.03159
4 ?                40.96024 31.91939
5 Local-gov        41.75108 40.98280
6 Federal-gov      42.59063 41.37917
7 Self-emp-not-inc 44.96970 44.42188
8 Self-emp-inc     46.01703 48.81810
9 Without-pay      47.78571 32.71429

In [ ]:
# This code is optional as database configuration is required to run it.

# Connecting Database
library(RODBC) # this packages is required to for connecting to the database
library(dplyr)

# The first argument is the name given to your odbc driver,
# followed by your database connection id and password
con <- odbcConnect("CFTdemo", uid = "seiya", pwd="")

# Query the database using native sql
sqlQuery(con, "select * from Employees") %>%
group_by(Gender) %>%
summarize(n_Gender = n(), avg_salary = mean(Salary, na.rm = TRUE)) %>%
arrange(avg_salary)

<div class="alert alert-success"></i><strong>1.0 Control structures</strong><br><br>Control structures in R gives R the flexibiliy to control the flow of execution of a series of R expressions.<br>
Commonly used control structures in R are:
<ul>
    <li>if and else: Used for testing a condition and acting on it</li>
    <li>for: Required to execute a loop a fixed number of times</li>
    <li>while: Required to execute some block of code continuously until a condition is met</li>
    <li>break: Used to break the execution of a loop</li>
    <li>next: Used to skip an iteration of a loop</li>
    </ul>
 </div>

<div class="alert alert-success"></i><strong>1.1 if-else</strong><br>
if-else control structure is one of the most commonly used in programming.This structure allows one to test a condition if it returns true or false and act on it accordinly.The general format of an if and else as well as an if-else statement is given below.

In [ ]:
# if and else statement
if(<condition>) {
    ## do something
    } else {
    ## do something else
}

In [40]:
# Example of if and else statement
x <- 20
if (x %% 2 == 0){
    print(paste("Number", x, "is even")) ## do something
    } else{
    print(paste("Number", x, "is Not even")) ## do something else
    
}

[1] "Number 20 is even"

<div class="alert alert-info"><i class="icon-lightbulb"></i><strong>Discussion</strong><br>
We just used a function called paste above, what would our output be if we replace paste with paste0?

In [ ]:
# General format of an if-else conditinal statement
if(<condition1>) {
   ## do something
  } else if(<condition2>) {
  ## do something different
    } else {
  ## do something very different
}

In [ ]:
# Example of if-else statement
Age <- as.integer(readline(prompt="Enter your age: ")) # prompt for text input
if (Age < 13){
    print(paste("A", Age, "years old is a child")) ## do something
    
    } else if(Age < 20){
    print(paste("A", Age, "years old is a teenager,")) ## do something else
    
   } else {
    print(paste("A", Age, "years old is an adult,")) ## do something very different
}

<div class="alert alert-success"></i><strong>1.2 for loops</strong><br>
for loops are commonly used for iterating over elements of an object and it made up of three parts
the sequence,body and the output.

In [ ]:
# Example of for loop
x <- c("a", "b", "c", "d")
for(i in x) {
    ## Print out each element of 'x'
    print(i)
}

In [13]:
#try it
list_of_numbers <- list(2,4,7,8,9,10)

for (i in list_of_numbers){
    print(list_of_numbers[[i]])
}

[1] 4
[1] 8

ERROR: Error in list_of_numbers[[i]]: subscript out of bounds

In [4]:
length(list_of_numbers)

[1] 6

In [7]:
# Example of a for loop with if-else statements
numbers = 1:5
for(k in 1:length(numbers)){
    
        if (numbers[k] %% 2 == 0){
            print(paste("Number", numbers[k], "is even")) ## do something
        }else {
            print(paste("Number", numbers[k], "is Not even")) ## do something else
    }
}

[1] "Number 1 is Not even"
[1] "Number 2 is even"
[1] "Number 3 is Not even"
[1] "Number 4 is even"
[1] "Number 5 is Not even"

In [10]:
# Example of a for loop: compute the mean of columns in a dataframe
dataframe <- data.frame(Age = c(90,13,18,15), test_score = c(70,30,18, 17), name =LETTERS[1:4])
dataframe

for(i in 1 :ncol(dataframe)){
    print(mean(dataframe[[i]]))
}

  Age test_score name
1 90  70         A
2 13  30         B
3 18  18         C
4 15  17         D

[1] 34
[1] 33.75

Warning message in mean.default(dataframe[[i]]):
"argument is not numeric or logical: returning NA"

[1] NA

In [ ]:
# From the above code we see that an error warning was raised
# this is because of the data frane fields is character instead of numeric
# as the mean was calculated. To solve this issue, we will check if a field 
# is does hold numeric value before we evaluate the mean.

output <- vector("double", ncol(dataframe))

for (i in 1 :ncol(dataframe)) {
    if (class(dataframe[[i]]) == "numeric"){
  # Change code to store result in output
  output[[i]] <- mean(dataframe[[i]])
        }
}

# Print output
output

<div class="alert alert-success"></i><strong>1.3 while loop</strong><br>
while loop is used to execute some block of code continuously until a condition is met. A major concern when working with a while loop is to ensure that at some point the condition should become true, otherwise the while loop will go forever. If you find yourself in an endless loop, press <strong>Crtl-C</strong> to kill the process in RStudio or base R.

In [ ]:
# The general syntax of a while loop is given as:
while (condition){
    # Code executed here 
    # while condition is true
}

In [17]:
# This while loop checks if the condition (x < 10) is true
# if it's false, it prints 15 randomly generated alphabets and moves to a new line
# then adds one to x so as to avoid endless loop.This will only stop when the
# while condition is true, i.e x > 10.
x <- 0

while(x < 10){
    
    cat(sample(LETTERS,15),"\n")
    
    # add one to x
    x <- x+1
}

X Z P L N T S I M K W A E G O
H M L X C G S W F U V N E B Q
F L S H Z T Y X Q P A I W M C
X O Q W M H B V R Y J N U C G
H Y L A P S Z E V T Q B W K F
X F S P T K D L N J A O Q I W
G K U O X D E J B R H C T P Q
K J A N M Y Z W L H X I V D U
G X Y U N R O M E H Q A B P V
S Q U R E T C O W I J X N V A

<div class="alert alert-success"></i><strong>1.4 next</strong><br>
next is used to skip an iteration of a loop given a condition.

In [ ]:
for(i in LETTERS) {
    if(i < "V") {
        ## Skip the all letter before "V" iterations
        next
    }
        print(i)
}

<div class="alert alert-success"></i><strong>1.5 break</strong><br>
break is used to exit a loop immediately, given a condition regardless of what iteration the loop may be on.

In [ ]:
for(i in LETTERS) {
    print(i)
    if(i == "D") {
    ## Stop loop after 20 iterations
        break
    }
}

In [ ]:
f <- function(letters, letter){
for(i in letters) {
    print(i)
if(i == letter) {
## Stop loop after 20 iterations
break
}
}}

<div class="alert alert-info"><i class="icon-lightbulb"></i><strong>Discussion</strong><br>
Let's work through an integer number guessing game.

<div class="alert alert-success"></i><strong>2.0 Functions</strong><br>
A function is a piece of code written to carry out a specified task which may or may not accept arguments.Functions are designed by assigning a name like you would when creating an object followed by the assignment operator and the key word function.There are also functions that are <font color = "red"><strong>NOT</strong></font> assigned names when developed, these type of functions are called "anonymous functions".<br>Functions are made up of three parts:
<ul>
    <li>Arguments</li>
    <li>Body</li>
    <li>Enviroment</li>
</ul>
One rule to keep in mind when creating your own function is to avoid using R key words for your user defined functions names.
</div>

In [ ]:
# The basic structure of a function is given as:
func.one <- function(arg1, arg2){ # Arguments
                body              # Body
        }
# and the Enviroment which is where R look to for variable and is visually invisible.
# More on this when we create our first function.

<div class="alert alert-success"></i><strong>2.0.1 return value</strong><br>
when return is called within a function it forces the function to stop execution and return a value.An example will make this point clearer.
</div>

In [ ]:
rm(list=ls())
# We will now create our first function which does not have the return key word.
# This function simply adds 3 and 5 and also prints a text as you can see this
# function does not take in any argument
addnumbers <- function(){
            print(3 + 2)
            print("You can read me because no return is called above")
   }
addnumbers()

In [ ]:
# This function take two arguments and return a ratio
ratio <- function(x, y) {
  return (x / y)
}

# Call ratio() with arguments 3 and 4
# I could have as well run the function ratio(y = 2, x = 1) to get 
# same output as the code snippet below
ratio(1, 2)

In [ ]:
rm(list=ls())
# We will now create our second function which has the return key word.Did you notice
# anything in the output?
# This function simply adds 3 and 5 and ignors the prints part since
# return was called.
addnumbersv1 <- function(){
            return(3 + 2)
            print("You can read me because no return is called above")
   }
addnumbersv1()

In [ ]:
# An example of an anonymus function that does not have a name assigned to it.
# Anonymus function are always written on a single line as below
(function(x) {x + 5})(2)

In [ ]:
# A function with one default argument. This means that when
# this function is called you may or may not pass/change the value of y
addxy <- function(x, y = 3){
    x + y
}
addxy(2)

In [ ]:
# change the default value of y
addxy(x = 7, y = 19)

<div class="alert alert-success"></i><strong>2.0.2 Scoping</strong><br>
Scoping in R basically describes how and where (Note: NOT WHEN) R looks for values by name. There are basically two types of scope in R:
<ul>
<li>local scope</li> 
<li>global scope</li>
<ul>
</div>

In [ ]:
# If a name is not defined inside a function, R will look one level up.
# The example below would make this point clearer.

# The function below returns the sum of x and y.
# There are two variables obviously, x and y but y is not defined within the function
# so when the function is called, it will make use of the value defined within and 
# look one level up to find the name/varible y
# x is said to be a local variable while in this case y is a global variable.
# Any global variable may be called/used in a function but local variables CAN'T be 
# called outside a function.

x <- 10
fc <- function(x) {
  x + y
}

# call the function fc
fc(10)

<div class="alert alert-info"><i class="icon-lightbulb"></i><strong>Discussion</strong><br>
Given our earlier explanation what do you think the output would be?.Let's talk about the code below:<br>
y <- 10<br>
fz <- function(x) {<br>
  y <- 5<br>
  x + y<br>
}

<div class="alert alert-info"><i class="icon-lightbulb"></i><strong>Discussion</strong><br>
How do we write a function that checks if a given number or list of number is an even or odd number.

<div class="alert alert-danger"></i><i class="icon-attention-alt"></i>**Try it out!**<br>Given the list below,<br>
circle_rdaii = list(2,24,5,6,2,8,9,1,5,9,3,2,12,67,89,45,23,78,12)<br>write a function that computes the list of radii of different cirles.Your solution should be of the form shown below.<br>

[1] "The area of a circle with radius 2 is 6.28318530717959"
[1] "The area of a circle with radius 24 is 75.398223686155"
[1] "The area of a circle with radius 5 is 15.707963267949"
[1] "The area of a circle with radius 6 is 18.8495559215388"
[1] "The area of a circle with radius 2 is 6.28318530717959"
[1] "The area of a circle with radius 8 is 25.1327412287183"
[1] "The area of a circle with radius 9 is 28.2743338823081"
[1] "The area of a circle with radius 1 is 3.14159265358979"
[1] "The area of a circle with radius 5 is 15.707963267949"
[1] "The area of a circle with radius 9 is 28.2743338823081"
[1] "The area of a circle with radius 3 is 9.42477796076938"
[1] "The area of a circle with radius 2 is 6.28318530717959"
[1] "The area of a circle with radius 12 is 37.6991118430775"
[1] "The area of a circle with radius 67 is 210.486707790516"
[1] "The area of a circle with radius 89 is 279.601746169492"
[1] "The area of a circle with radius 45 is 141.371669411541"
[1] "The area of a circle with radius 23 is 72.2566310325652"
[1] "The area of a circle with radius 78 is 245.044226980004"
[1] "The area of a circle with radius 12 is 37.6991118430775"